.idea

*bin/
!bin/gunicorn_start.bash
!bin/soundscape.conf
!bin/soundscape.nginxconf

*certificates/
*include/
*lib/
*logs/
*run/
*man/
*.pyc

.Python
db.sqlite3
pip-selfcheck.json
soundscape/local_settings.py
dump.rdb
